<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice Payment</title>
    <style>
        body {
            text-align: center;
            font-family: "Arial", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff;
            margin: 0 auto;
            max-width: 600px;
        }

        header {
            background-color: burlywood;
            margin-top: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        main {
            padding: 30px;
            background-color: rgb(245, 233, 233);
            color: #333;
        }

        h1,
        h2 {
            color: white;
            /* Purple color */
        }

        p {
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(9, 239, 150);
            color: black;
            font-size: 13px;
            font-weight: 700;
            text-decoration: none;
            border-radius: 5px;
            margin-bottom: 30px;
        }

        footer {
            background-color: #f9f9f9;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>INVOICE API</header>
    <main>
        <b>Hello {{name}},</b>
        <p>
            Find your invoice attached. Please make the payment by {{date}} using
            the following link:
        </p>
        <b>You are to pay NGN{{amount}}</b>
        <p>Use the link below</p>
        <a href="{{link}}" class="cta-button">Pay {{amount}}</a>
    </main>
    <footer>
        <p>
            If you have any questions, feel free to contack
            <a href="mailto:leksguy97@gmail.com">lekkss</a>.
        </p>
        <p>&copy; 2023 INVOICE API. All rights reserved.</p>
    </footer>
</body>

</html>